{% extends "base.html" %}

{% block extra_css %}
    <style>
        body {
            font-family: 'Montserrat', sans-serif; /* Replace 'Montserrat' with your chosen font */
        }
        .blog-post {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .blog-post h1 {
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 20px;
        }

        .blog-post p {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #666;
        }

        .blog-post img {
            max-width: 100%;
            height: auto;
        }

        .blog-post-footer {
            margin-top: 40px;
            padding-top: 20px;
            border-top: 1px solid #eee;
            text-align: center;
        }

        .unlock-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .unlock-button:hover {
            background-color: #0056b3;
        }
        .alert-warning {
            width:max-content;
        }
        .alert-info {
            width:max-content;
        }
    </style>
{% endblock %}

{% block content %}
<article class="blog-post container">
    <h1 class="mb-4">{{ page.title }}</h1>
    {% if payment_required == False %}
        <div class="content">
            <p class="lead">{{ page.body|linebreaksbr }}</p>
        </div>
    {% elif is_unlocked_for_user == True %}
        <div class="content">
            <p class="lead">{{ page.body|linebreaksbr }}</p>
            <div class="alert alert-info" role="alert">
                To visit this page in the future, save this link which contains your payment address:<br> 
                <strong>{{ request.build_absolute_uri }}</strong>
            </div>
        </div>
    {% else %}
        <div class="payment-required">
            {% if not unlock_key %}
                <p class="lead">This post requires a payment of {{ page.unlock_fee }} {{ page.coin_option }} to unlock.</p>
                <a href="{% url 'unlock_blog_post' page.id %}" class="btn btn-primary">Unlock Post</a>
            {% elif unlock_key %}
                <script>
                    function checkUnlockStatus() {
                        fetch('/blog/check-post/{{ page.id }}/?unlock_key={{ unlock_key }}')
                            .then(response => response.json())
                            .then(data => {
                                if (data.is_unlocked) {
                                    location.reload();
                                }
                            })
                            .catch(error => console.error('Error:', error));
                    }

                    // Check every second
                    setInterval(checkUnlockStatus, 10000);
                </script>
                <p class="lead">This post requires a payment of {{ page.unlock_fee }} {{ page.coin_option }} to unlock.</p>
                <div class="alert alert-warning" role="alert">
                    Please send this fee to this {{ page.coin_option }} public address: <br><strong>{{ unlock_key }}</strong>
                </div>
            {% endif %}
        </div>
    {% endif %}
</article>

{% endblock %}